# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Archives
*.xcarchive

# Signing
*.mobileprovision
*.provisionprofile

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# App packaging
*.ipa
*.dSYM.zip
*.dSYM
